

div.oc-color-controller {
  width: 100%;
  display: flex; 
  align-items: center;
}

div.oc-color-circle-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* vi: se ts=2 sw=2 et: */
